.mainProduct {
  background-color: #eee;

  width: 300px;
  height: 400px;

  display: flex;
  align-items: center;
}

.mainProduct h5 {
  background-color: var(--purple-primary);
  color: #fff;
  border-radius: 0px 20px 20px 0px;

  height: 100%;
  width: 80px;

  writing-mode: vertical-rl;
  text-align: center;

  font-size: 1.65rem;
}

.mainProductInformations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;

  padding: 10px;
  text-align: center;
}

.mainProductInformations img {
  margin-top: -60px;
}

.mainProductInformations > div p:first-child {
  font-size: 0.9rem;
}

.mainProductInformations > div p:last-child {
  font-size: 1.62rem;
  font-weight: bold;
  color: var(--purple-primary);
}

.mainProductInformations > div p:last-child span {
  font-weight: 600 !important;
  color: var(--orange-primary);
}

.mainProductInformations a {
  width: 80%;
  border: 0;
  border-radius: 8px;
  background-color: var(--purple-primary);
  color: #fff;
  font-size: 1.15rem;

  padding: 7px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;

  transition: all 200ms ease-in-out;
}

.mainProductInformations a:hover {
  transform: scale(1.05);
  background-color: var(--purple-secondary);
}
