/* Welcome Section */
.welcomeSection {
  height: 600px;
  background-color: var(--purple-primary);

  background-image: url('/images/waveWelcomeSection.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.welcomeSection > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  z-index: 10;
}

.welcomeSection > div h1 {
  font-size: 2.87rem;
  margin-bottom: 10px;
}

.welcomeSection > div span {
  font-size: 3rem;
  font-weight: bold;

  background-color: var(--orange-primary);
  border-radius: 8px;

  width: 390px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.welcomeSection > div p {
  font-size: 1.2rem;
  font-weight: 300;
}

.renderRight {
  height: 600px;
  width: 600px;
  aspect-ratio: auto 768 / 432;

  position: relative;
  margin-right: -150px;
}

@media (max-width: 1200px) {
  .renderRight {
    height: 500px;
    width: 500px;
  }

  .welcomeSection > div h1 {
    font-size: 2.5rem;
  }

  .welcomeSection > div span {
    font-size: 2.83rem;
  }

  .welcomeSection > div p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1000px) {
  .welcomeSection > div h1 {
    font-size: 2.4rem;

    margin-right: -50px;
  }

  .welcomeSection > div span {
    font-size: 2.73rem;

    width: 320px;
    margin-right: -50px;
  }

  .welcomeSection > div p {
    font-size: 1rem;
    margin-right: -50px;
  }
}

@media (max-width: 920px) {
  .welcomeSection {
    flex-direction: column;

    height: 650px;
    padding: 25px 0px;
  }

  .welcomeSection > div h1 {
    margin-right: 0px;
  }

  .welcomeSection > div span {
    margin-right: 0px;
  }

  .welcomeSection > div p {
    margin-right: 0px;
  }

  .renderRight {
    margin-right: 0px;
  }
}

@media (max-width: 520px) {
  .renderRight {
    height: 400px;
    width: 400px;
  }

  .welcomeSection > div h1 {
    font-size: 2.1rem;
  }

  .welcomeSection > div span {
    font-size: 2.5rem;
    width: 300px;
  }

  .welcomeSection > div p {
    text-align: center;
    margin: 0px 10px;
  }
}

@media (max-width: 360px) {
  .welcomeSection > div h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .welcomeSection > div span {
    font-size: 2.2rem;
    width: 250px;
    height: 63px;
  }
}

/* Our Benefits */
.ourBenefitsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px 0px;
}

.ourBenefitsSectionContent {
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.benefits button {
  background-color: #eee;
  border: 0;
  border-radius: 8px;

  width: 125px;
  height: 115px;

  margin: 20px 30px;

  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.3rem;

  transition: all 200ms ease-in-out;
}

.benefits button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--orange-primary) !important;
  color: #fff !important;
}

.benefitSelected {
  background-color: var(--orange-primary) !important;
  color: #fff !important;
}

.benefitSelected svg {
  color: #fff;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2)) drop-shadow(0 0 4px rgba(255, 255, 255, 0.2))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.benefits button img {
  margin-top: -35px;
  margin-bottom: 10px;
}

.benefitDetails {
  background-color: #eee;
  border: 0;
  border-radius: 12px;

  width: 620px;
  height: 390px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;

  margin-left: 40px;
}

.benefitDetails svg {
  color: var(--orange-primary);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1)) drop-shadow(0 0 4px rgba(0, 0, 0, 0.1))
    drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
}

.benefitDetails h4 {
  font-size: 1.6rem;
}

.benefitDetails p {
  margin-top: 20px;
  max-width: 85%;
  font-size: 1.1rem;
}

.benefitDetails::after {
  content: '';
  height: 40px;
  width: 384px;
  border-radius: 20px 20px 0px 0px;
  background-color: var(--orange-primary);

  position: absolute;
  bottom: 0;
}

@media (max-width: 1050px) {
  .benefitDetails {
    width: 500px;
    height: 390px;
  }
}

@media (max-width: 920px) {
  .benefitDetails {
    margin-left: 0px;
  }
}

@media (max-width: 900px) {
  .ourBenefitsSectionContent {
    flex-direction: column;
  }

  .benefitDetails {
    margin-top: 80px;
  }
}

@media (max-width: 540px) {
  .benefitDetails {
    width: 400px;
  }

  .benefitDetails::after {
    content: '';
    width: 300px;
  }
}

@media (max-width: 450px) {
  .benefits button {
    width: 120px;
    height: 120px;

    margin: 10px 20px;

    font-size: 1.2rem;
  }

  .benefitDetails {
    width: 290px;
    height: 450px;
  }

  .benefitDetails::after {
    content: '';
    width: 200px;
  }

  .benefitDetails h4 {
    font-size: 1.4rem;
  }

  .benefitDetails p {
    max-width: 95%;
  }
}

/* Your Project Online */
.putYourProjectOnline {
  height: 304px;

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/homeLandscape.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0px 50px;
}

.putYourProjectOnline > img {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 22px;
  padding: 15px;
}

.putYourProjectOnline > div {
  max-width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #fff;
  z-index: 4;
}

.putYourProjectOnline h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.putYourProjectOnline p {
  font-size: 1.1rem;
  filter: opacity(0.9);
}

.putYourProjectOnline span {
  background-color: var(--purple-primary);
  font-size: 1.7rem;
  font-weight: bold;
  opacity: 0.9;

  padding: 10px 20px;
  border-radius: 12px;
  margin-top: 10px;
}

@media (max-width: 850px) {
  .putYourProjectOnline {
    padding: 0px 10px;
  }
}

@media (max-width: 730px) {
  .putYourProjectOnline h4 {
    font-size: 1.3rem;
  }

  .putYourProjectOnline p {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .putYourProjectOnline {
    flex-direction: column;

    height: 500px;
  }

  .putYourProjectOnline > div {
    max-width: 80%;
  }

  .putYourProjectOnline h4 {
    font-size: 1.4rem;
  }

  .putYourProjectOnline p {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .putYourProjectOnline {
    height: 600px;
  }

  .putYourProjectOnline > div {
    max-width: 90%;
  }
}

/* Main Products */
.mainProducts {
  margin: 30px 0px;
}

.mainProductsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  flex-wrap: wrap;

  margin: 50px 0px;
}

/* Frequenly Asked Questions Section */
.frequentlyAskedQuestionsSection {
  height: 600px;
  background-color: var(--purple-primary);

  background-image: url('/images/waveAsksSection.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.frequentlyAskedQuestionImageLeft {
  height: 400px;
  width: 400px;

  position: relative;
}

.frequentlyAskedQuestionsContent {
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.frequentlyAskedQuestionsContent h4 {
  font-size: 2.37rem;
  color: #fff;
  text-transform: uppercase;

  border-bottom: 2px solid var(--orange-primary);

  margin-bottom: 40px;
}

.frequentlyAskedQuestionsContent > div {
  width: 100%;
}

.frequentlyAskedQuestionsContent > div h6 {
  background-color: #eee;
  border-radius: 6px;
  height: 45px;
  width: 100%;
  font-size: 1rem;

  padding: 0px 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 200ms ease-in-out;
}

.frequentlyAskedQuestionsContent > div h6:hover {
  border: 1px solid var(--orange-primary);
  transform: scale(1.02);
  cursor: pointer;
}

.frequentlyAskedQuestionsContent > div p {
  background-color: #eee;
  border-radius: 8px;
  margin-top: 5px;
  padding: 8px;

  transition: all 200ms ease-in-out;
}

@media (max-width: 1500px) {
  .frequentlyAskedQuestionsContent {
    width: 50%;
  }
}

@media (max-width: 950px) {
  .frequentlyAskedQuestionImageLeft {
    height: 320px;
    width: 320px;
  }

  .frequentlyAskedQuestionsContent h4 {
    text-align: center;
  }
}

@media (max-width: 780px) {
  .frequentlyAskedQuestionsSection {
    flex-direction: column;
    gap: 15px;

    height: 930px;
    padding: 20px;
  }

  .frequentlyAskedQuestionsContent h4 {
    text-align: center;
    padding-top: 5px;
  }
}

@media (max-width: 710px) {
  .frequentlyAskedQuestionsContent {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .frequentlyAskedQuestionsContent {
    width: 100%;
    text-align: center;
  }
}
